$mainBgColor: rgb(48, 83, 83);
$secondBgColor: rgb(26, 156, 156);
$green: rgb(0, 255, 98);
$greenRgba: rgba(0, 255, 149, 0.4);
$mainTextColor: rgb(255, 255, 255);

$btnTextColor: #524f4e;
$btnTextHoverColor: rgb(255, 255, 255);

$btnContactBgHoverColor: rgb(253, 6, 6);
$btnFormBgHoverColor: rgb(0, 255, 98);

$btnBgColor: rgb(255, 255, 255);